<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'admin_foundations.name' %>:</strong>
  <%= @admin_foundation.name %>
</p>

<p>
  <strong><%= t 'admin_foundations.description' %>:</strong>
  <%= @admin_foundation.description %>
</p>

<p>
  <strong><%= t 'admin_foundations.mission' %>:</strong>
  <%= @admin_foundation.mission %>
</p>

<p>
  <strong><%= t 'admin_foundations.view' %>:</strong>
  <%= @admin_foundation.view %>
</p>

<p>
  <strong><%= t 'admin_foundations.phone' %>:</strong>
  <%= @admin_foundation.phone %>
</p>

<p>
  <strong><%= t 'admin_foundations.mail' %>:</strong>
  <%= @admin_foundation.mail %>
</p>

<%= link_to t('admin_foundations.edit'), edit_admin_foundation_path(@admin_foundation) %> |
<%= link_to t('admin_foundations.back'), admin_foundations_path %>
