<!--<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large orange darken-1">
        <i class="large material-icons">mode_edit</i>
    </a>

</div>-->

<!-- Slider -->
<div class="row">

    <div class="slider" style="margin-bottom: 150px; height: 500px">
        <ul class="slides">
            <li>
                <%= image_tag "slider1.jpg" %>
                <div class="caption center-align">
                    <h3>Guiasos..</h3>
                    <h5 class="light grey-text text-lighten-3">Proyectamos hacia el camino correcto tu ODS</h5>
                </div>
            </li>
            <li>
                <%= image_tag "slider2.jpg" %>
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Ayudando a otros..</h3>
                    <h5 class="light grey-text text-lighten-3">Somos multiplicadores de bienestar</h5>
                </div>
            </li>
            <li>
                <%= image_tag "slider3.jpg" %>
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Unete..</h3>
                    <h5 class="light grey-text text-lighten-3">Red de asesores de ODS</h5>
                </div>
            </li>
        </ul>
    </div>

    <!-- Cuadros -->

    <div class="row">
        <% @foundations.each do |foundation| %>
        <div class="col l4 m6 s12">
            <div class="card amber darken-2">
                <div class="card-content">
                    <span class="card-title"><%= foundation.name %></span>
                    <p>
                        <%= foundation.description %>
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" style="color: #455a64">Link a fundacion</a>
                </div>
            </div>
        </div>
        <% end %>
        <% if current_user %>
          <% if current_user.type != nil %>
            Es un administrador
          <% else %>
            No es un administrador
          <% end %>
        <% end %>
    </div>
    <!-- Seccion Varios -->
    <div class="row">
        <div class="center-align">
            <h5>Noticias</h5>
        </div>
    </div>

    <!-- Seccion Contactanos -->
    <div class="row">
        <div style="width: 100%; height: 200px; margin-bottom: -20px; overflow:hidden;" class="grey lighten-3">
            <div class="contacto" style="float:left; ">
                <%= image_tag "contacto.png", class: "img_contacto responsive-img" %>
            </div>
            <div style="width: 50%; float:left; margin-top: 70px; margin-left: 50px;" class="center">
                Contactanos para darte
                <strong style="font-size: 20px;">asesoria de calidad</strong>, y asi tu idea se pueda
                <strong style="font-size: 20px;">llevar a cabo</strong>
                tan pronto sea posible para que
                <strong style="font-size: 20px;">juntos ayudemos a otros
                </strong>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="page-footer light-green darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text cuadro_letra">A.C. Guiasos</h5>
                    <p class="grey-text text-lighten-4 letra_menu">Proyectamos hacia el camino correcto tu ODS</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2017 Copyright A.C. Guiasos

            </div>
        </div>
    </footer>

    <!-- Noticias -->
    <script>
        $(document).ready(function () {
            $('.slider').slider();
        });

        // Pause slider
        $('.slider').slider('pause');
        // Start slider
        $('.slider').slider('start');
        // Next slide
        $('.slider').slider('next');
        // Previous slide
        $('.slider').slider('prev')

        $(".button-collapse").sideNav();

        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
